<!-- String interpolation-->
server with {{ serverId }} is {{ serverStatus }}
<br>
retrieve from get method status is : {{ getServerStatus() }}

<!-- two way binding -->
<label>Server Name</label>
<Input type="text" class="form-control"
       (input)="OnUpdateServerName($event)">
<Input type="text" class="form-control"
       [(ngModel)] = "serverName" ngDefaultControl>

<p>{{ serverName }}</p>

<!-- Property binding -->
<!-- Event Binding with click-->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="OnCreateServer()">Add Servers</button>

<p *ngIf="serverCreated; else noServer">created server :: {{serverName}}</p>

<!--else with Marker-->
<ng-template #noServer>
  <p>No server</p>
</ng-template>

<p [ngStyle]="{backgroundColor : getColor()}"
[ngClass]="{online : serverStatus==='online'}"
>Server status is :: {{ serverStatus }}</p>

<p [ngStyle]="{backgroundColor : getColor()}">Server status is :: {{ serverStatus }}</p>

<p> Total created servers are :</p>

<p *ngFor="let server of servers"> {{ server }}</p>


<!-- assessment -->
<app-assessment-data-binding></app-assessment-data-binding>

<app-directive-assessment></app-directive-assessment>
